#viewer {
  padding: 100px 20px 20px 20px;
  position: absolute;
  left: 0;
  right: 40%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: aliceblue;

  .rotate {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
